header {
    background-image: linear-gradient(rgb(94, 7, 193), rgb(57, 6, 116));
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    color: rgb(120, 1, 255);
    text-shadow: 1px 1px 10px black;
}