.blogCard {
    box-shadow: 1px 1px 10px black;
    border-radius: 20px;
    margin: 1rem 0;

    img {
        object-fit: contain;
    }

    .blogCardBody {
        padding: .5rem;


        h3 {
            padding: .5rem 0;
        }
    }
}